* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
        Segoe UI Emoji;
}

.about-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 360px;
    padding: 20px;
    background: #3b4252;
}

body {
    background: #2e3440;
    color: #eceff4;
}

a {
    color: #88c0d0;
    text-decoration: underline dotted;
}

h3 {
    margin: 16px 0;
}

.attr {
    background-color: #111213;
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 5px 10px;
    border-radius: 50px;
    margin-right: 5px;
}

.thumbnail {
    flex: none;
}

.project-container {
    margin: 0 0 0 400px;
    padding: 109px 45px 45px 45px;
}

.search-header {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    left: 400px;
    padding: 15px 45px;
    background: #8fbcbb;
}

#search-bar {
    background-image: url('img/magnifying-glass-solid.svg'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-size: 21px 21px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    float: right;
    border: 1px solid #4c566a;
    color: #4c566a;
    border-radius: 50px;
}

#search-bar:focus {
    outline: none;
}

.project {
    display: block;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    position: relative;
    padding-bottom: 100%;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #8fbcbb, #5e81ac);
    overflow: hidden;
}

.image-container {
    pointer-events: none;
    transition: all 0.3s;
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    background: #fff;
    overflow: hidden;
    filter: grayscale(1);
    opacity: 0.3;
    box-shadow: none;
}

#projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 45px;
    grid-auto-flow: dense;
}

.project:hover .image-container {
    filter: none;
    opacity: 1;
}

.project:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

h1 {
    font-size: 44px;
    font-weight: 400;
}

p {
    margin: 16px 0;
    font-size: 16px;
}

.title-container {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    position: absolute;
    pointer-events: none;
    inset: 0;
}

.title {
    position: absolute;
    bottom: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 25px 15px;
}

@media (max-width: 1040px) {
    .search-header {
        left: 0;
    }

    .project-container {
        margin: 0;
    }

    .about-container {
        display: none;
    }

    .image-container {
        filter: none;
        opacity: 1;
    }
}

@media (max-width: 500px) {
    #projects {
        gap: 0;
    }

    .project {
        border-radius: 0;
    }

    .project-container {
        padding: 77px 0 0 0;
    }

    p {
        margin: 16px;
    }
}
