.about__info {
  background: var(--bg-color1);
  padding: 1rem 1.5rem 1rem 1rem;
  border-radius: 0 8px 8px 0;
  border-left: solid 0.5rem var(--accent-color);
  margin: 3rem 0rem;

  &>* {
    margin: 0 0 1rem 0;
  }

  &>:last-child {
    margin: 0;
  }
}
