.about__info {
  background: var(--bg-color1);
  padding: 1rem;
  border-radius: min(calc(100vw - var(--body-width)), 16px);
  box-shadow: -8px 0 0 var(--accent-color);
  margin: 3rem -1rem;

  &>.about__info__title {
    margin: 0;
  }

  &>* {
    margin: 1rem 0 0 0;
  }
}
