.content__body>.about__info {
  position: relative;
  overflow-x: visible;
  padding: 2rem 1rem;
  margin: 1.5rem -1rem;

  &::before {
    content: "";
    position: absolute;
    inset: 0 -1rem;
    background: var(--bg-color1);
    border-radius: 0.5rem;
    z-index: -1;
  }
}
