.post {
  margin-bottom: 4rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.post__read-more {
  color: var(--secondary-color);
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1ch;
  transition: transform 300ms ease-out;
  margin-top: 1rem;

  &>svg {
    fill: var(--secondary-color);
  }

  &:hover {
    transform: translateX(0.5rem);
  }
}
