#posts {
  max-width: var(--body-width);
  margin: 0 auto;
  padding: 5rem 1rem;
}

.posts__title {
  font-size: 1.602rem;
  margin: 0 0 1.5rem 0;
}

.posts__list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.posts__item {
  display: block;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  margin: -0.5rem -0.75rem;
  border-radius: 0.5rem;

  &:hover {
    background: var(--bg-color2);
  }
}

.posts__item__title {
  margin: 0;
}

.posts__link {
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  gap: 1ch;
  transition: transform 300ms ease-out;

  &:hover {
    transform: translateX(0.5rem);
  }
}
