{% import "macros.html" as macros %}

{% extends "base.html" %}

{% block head %}
  <style>
    .post {
      margin-bottom: 4rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .post__read-more {
      color: var(--secondary-color);
      font-weight: 600;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 1ch;
      transition: padding 300ms;

      &>svg {
        fill: var(--secondary-color);
      }

      &:hover {
        padding-left: 0.5rem;
      }
    }
  </style>
  <link rel="stylesheet" href="/styles/page.css">
{% endblock %}

{% block content %}
  <div class="posts">
    {% for post in section.pages %}
      <div class="post">
        {{ macros::post_header(page=post) }}

        <article class="content__body">
          {{ post.summary | safe }}
        </article>

        <a class="post__read-more" href="{{ post.permalink | safe }}">Read more {{ macros::icon(name="arrow") }}</a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
