{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="/styles/works.css">
{% endblock %}

{% block content %}
  <h1 class="title">{{ page.title }}</h1>

  {{ page.content | safe }}

  {% set works = load_data(path="projects.toml") %}

  {# TODO: Turn this into a shortcode #}
  <div class="projects">
    {% for work in works.projects | slice(start=0) %}
      <div class="project">
        <div class="project__info">
          <img class="project__img" src="/images/projects/{{ work.id }}.png" alt="Preview of the {{ work.name }} project">
          <h3 class="project__title">{{ work.name }}</h3>
          {{ work.description | markdown | safe }}
        </div>

        <div class="project__links">
          <a href="//github.com/ziap/{{ work.id }}" class="link-btn">
            Code {% include "icons/github.html" %}
          </a>

          {% if work.web_demo %}
            <a href="//ziap.github.io/{{ work.id }}" class="link-btn">
              Demo {% include "icons/play.html" %}
            </a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>

  {# TODO: Put this into the markdown file #}
  {{ "For more of my projects, check out my [Github](//github.com/ziap)." | markdown | safe }}

{% endblock %}
