.about__info {
  position: relative;
  overflow-x: unset !important;
  padding: 2rem 1rem;
  margin: 3rem -1rem;

  &::before {
    content: "";
    position: absolute;
    inset: 0 -1rem;
    background: var(--bg-color1);
    border: solid 2px var(--accent-color);
    border-radius: 0.5rem;
    z-index: -1;
  }

  &>.about__info__title {
    margin: 0;
  }

  &>* {
    margin: 1rem 0 0 0;
  }
}
